# Udev rules for keithley cables

#Keithley 1
SUBSYSTEM=="tty",ATTRS{serial}=="FTGT9QWS",SYMLINK="keithley1", MODE="0777",GROUP="tty"

#Keithley 2
SUBSYSTEM=="tty",ATTRS{serial}=="FTGTBB1O",SYMLINK="keithley2", MODE="0777",GROUP="tty"

#Keithley 4
SUBSYSTEM=="tty",ATTRS{serial}=="FTGU7B6F",SYMLINK="keithley4", MODE="0777",GROUP="tty"

#Keithley 5 (237)
SUBSYSTEM=="tty",ATTRS{serial}=="PXHJKPT8",SYMLINK="keithley5", MODE="0777",GROUP="tty"

#ISEG
SUBSYSTEM=="tty",ATTRS{serial}=="A1030KVS",SYMLINK="iseg", MODE="0777",GROUP="tty"

